extends layout

// TODO
    - text box is to long at lower resolutions
    - different font for translation??
    - submit button instead of just enter?
    - translation queue - don't translate 2 messages at the same time

block content
    script(src='javascripts/transmitter.js')
    #history
        #log
    #footer
        input(type='text', id='translateTextbox', name='translate-textbox')
